body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent !important;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-weight: bold;
    width: 100vw;
    height: 100vh;
}

#comment-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100; /* コメントを前面に */
    pointer-events: none;
}

.comment {
    position: absolute;
    white-space: nowrap;
    color: white;
    font-size: 48px;
    line-height: 1.2;
    will-change: transform, opacity;
    
    /* 黒縁取り */
    text-shadow: 
        3px  3px 0 #000,
       -3px  3px 0 #000,
        3px -3px 0 #000,
       -3px -3px 0 #000,
        3px  0px 0 #000,
       -3px  0px 0 #000,
        0px  3px 0 #000,
        0px -3px 0 #000;
}

.comment.dark-text {
    /* 黒文字用の白縁取り */
    text-shadow: 
        3px  3px 0 #fff,
       -3px  3px 0 #fff,
        3px -3px 0 #fff,
       -3px -3px 0 #fff,
        3px  0px 0 #fff,
       -3px  0px 0 #fff,
        0px  3px 0 #fff,
        0px -3px 0 #fff;
}

#qr-overlay-modal {
    z-index: 2000 !important; /* QRはさらに前面 */
}
