body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-weight: bold;
}

#comment-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.comment {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    color: white; /* Default white */
    font-size: 48px;
    line-height: 1.2;
    will-change: transform;
    
    /* Default: Black stroke for light text */
    text-shadow: 
        3px  3px 0 #000,
       -3px  3px 0 #000,
        3px -3px 0 #000,
       -3px -3px 0 #000,
        3px  0px 0 #000,
       -3px  0px 0 #000,
        0px  3px 0 #000,
        0px -3px 0 #000;
}

/* Modifier for dark text (White stroke) */
.comment.dark-text {
    /* Stroke becomes white */
    text-shadow: 
        3px  3px 0 #fff,
       -3px  3px 0 #fff,
        3px -3px 0 #fff,
       -3px -3px 0 #fff,
        3px  0px 0 #fff,
       -3px  0px 0 #fff,
        0px  3px 0 #fff,
        0px -3px 0 #fff;
}